*{
	padding:0;
	margin:0;
}

html, body{
	width:100%;
	background-color:#e6e6e6;
	font-family:Arial, Helvetica, sans-serif;
}

.clear{
	clear:both;
}

.program{
	width:500px;
	float:left;
	border:1px solid black;
}

.header{
	background-color:#6f0;
	color:#fff;
	padding:3px;
}

.close{
	float:right;
	width:16px;
	height:16px;
	padding:3px;
	background-image: url('images/cross.png');
	background-repeat:no-repeat;
	cursor:pointer;
}

.window{
	max-height:300px;
	overflow-y: scroll;
	overflow-x:hidden;
}

.wrap{
	margin: 0;
	background-color:#fff;
	padding:10px;
}

.message{
	padding:5px;
	margin-bottom:10px;
	background-color:#06f;
	color:#fff;
	clear:both;
}

.delete-icon,
.time-icon{
	float:right;
	width:16px;
	height:16px;
	padding:3px;
	cursor:pointer;
}
.delete-icon{
	background-image: url('images/delete.png');
	background-repeat:no-repeat;
}
.time-icon{
	background-image: url('images/clock.png');
	background-repeat:no-repeat;
}

.timeStamp{
	display:block;
	text-align:right;
	font-size:10px;
	font-style:italic;
	color:#eee;
	clear:both;
}
	
.count{
	color:#666;
	font-size:12px;
	font-style:italic;
	text-align:right;
}

textarea.new-message{
	padding:0;
	height:100px;
	width:100%;
	font-size:16px;
	background-color:#fff;
	border:1px solid black;
	margin-bottom:10px;
}

textarea.new-message:focus{
	background-color:#def;
	border:1px solid #06f;
	outline:none;
}

.button-container{
	text-align:right;
}

.send-button{
	background-color:#06f;
	border:1px solid #fff;
	padding:5px 30px;
	color:#fff;
	font-weight:bold;
}